{{>licenseInfo}}

package com.expediagroup.sdk.{{namespace}}.operations

import com.expediagroup.sdk.core.model.Operation

{{#operations}}{{#operation}}{{^hasBodyParam}}
    import com.expediagroup.sdk.core.model.Nothing
{{/hasBodyParam}}{{/operation}}{{/operations}}

{{#operations}}{{#operation}}{{#bodyParam}}
    import com.expediagroup.sdk.{{namespace}}.models.{{dataType}}
{{/bodyParam}}{{/operation}}{{/operations}}

{{#operations}}
    {{#operation}}
        /**
        * {{{summary}}}
        {{#hasBodyParam}}
            * @property requestBody [{{#bodyParam}}{{dataType}}{{/bodyParam}}]
        {{/hasBodyParam}}
        {{#hasNonBodyParams}}
            * @property params [{{classname}}Params]
        {{/hasNonBodyParams}}
        */
        class {{classname}}(
            {{#hasBodyParam}}
                requestBody: {{#bodyParam}}{{dataType}}{{/bodyParam}}{{^required}}?{{/required}},
            {{/hasBodyParam}}
            {{#hasNonBodyParams}}
                params: {{classname}}Params
            {{/hasNonBodyParams}}
        ) : Operation<
            {{#hasBodyParam}}{{#bodyParam}}{{dataType}}{{/bodyParam}}{{/hasBodyParam}}
            {{^hasBodyParam}}Nothing{{/hasBodyParam}}
        >(
            {{#hasPathParams}}
                "{{#removeLeadingSlashes}}{{{path}}}{{/removeLeadingSlashes}}"{{#pathParams}}.replace("{" + "{{baseName}}" + "}", {{#isContainer}}params.{{paramName}}.joinToString(","){{/isContainer}}{{^isContainer}}"${params.{{paramName}}}"{{/isContainer}}){{/pathParams}}
            {{/hasPathParams}}
            {{^hasPathParams}}
                "{{#removeLeadingSlashes}}{{{path}}}{{/removeLeadingSlashes}}"
            {{/hasPathParams}},
            "{{httpMethod}}",
            "{{operationId}}",
            {{#hasBodyParam}}requestBody{{/hasBodyParam}}{{^hasBodyParam}}null{{/hasBodyParam}},
            {{#hasNonBodyParams}}
                params
            {{/hasNonBodyParams}}
            {{^hasPathParams}}{{^hasHeaderParams}}{{^hasQueryParams}}
                null
            {{/hasQueryParams}}{{/hasHeaderParams}}{{/hasPathParams}}
        )
    {{/operation}}
{{/operations}}