package com.expediagroup.sdk.{{namespace}}.client

import java.util.concurrent.CompletableFuture
import java.util.stream.Collectors
import kotlin.collections.Map.Entry
import kotlinx.coroutines.runBlocking

{{#imports}}
    import {{import}}
{{/imports}}

{{>imports/domain}}

{{>imports/core}}

{{>imports/defaults}}

/**
* {{#openAPI}}{{#info}}{{{description}}}{{/info}}{{/openAPI}}
*/

class {{clientClassname}}Client private constructor(clientConfiguration: ExpediaGroupClientConfiguration) : ExpediaGroupClient("{{namespace}}", clientConfiguration) {
    class Builder : ExpediaGroupClient.Builder<Builder>() {
        override fun build() = {{clientClassname}}Client(
            ExpediaGroupClientConfiguration(key, secret, endpoint, requestTimeout, connectionTimeout, socketTimeout, maskedLoggingHeaders, maskedLoggingBodyFields, null, authEndpoint)
        )
    }

    class BuilderWithHttpClient() : ExpediaGroupClient.BuilderWithHttpClient<BuilderWithHttpClient>() {
        override fun build() : {{clientClassname}}Client {

            if (okHttpClient == null) {
                throw ExpediaGroupConfigurationException(getMissingRequiredConfigurationMessage(ConfigurationName.OKHTTP_CLIENT))
            }

            return {{clientClassname}}Client(
                ExpediaGroupClientConfiguration(key, secret, endpoint, null, null, null, maskedLoggingHeaders, maskedLoggingBodyFields, okHttpClient, authEndpoint)
            )
        }
    }

    companion object {
        @JvmStatic fun builder() = Builder()

        @JvmStatic fun builderWithHttpClient() = BuilderWithHttpClient()
    }

    override suspend fun throwServiceException(response: HttpResponse, operationId: String) {
        throw ErrorObjectMapper.process(response, operationId)
    }

    private suspend inline fun <reified RequestType> executeHttpRequest(operation: Operation<RequestType>): HttpResponse {
        return httpClient.request {
            method = HttpMethod.parse(operation.method)
            url(operation.url)

            operation.params?.getHeaders()?.let {
                headers.appendAll(it)
            }

            operation.params?.getQueryParams()?.let {
                url.parameters.appendAll(it)
            }

            val extraHeaders = buildMap {
                put(HeaderKey.TRANSACTION_ID, operation.transactionId.dequeue().toString())
            }

            appendHeaders(extraHeaders)
            contentType(ContentType.Application.Json)
            setBody(operation.requestBody)
        }
    }

    private inline fun <reified RequestType> executeWithEmptyResponse(operation: Operation<RequestType>) : EmptyResponse {
        try {
            return executeAsyncWithEmptyResponse(operation).get()
        } catch (exception: Exception) {
            exception.handle()
        }
    }

    private inline fun <reified RequestType> executeAsyncWithEmptyResponse(operation: Operation<RequestType>) : CompletableFuture<EmptyResponse> {
        return GlobalScope.future(Dispatchers.IO) {
            try {
                val response = executeHttpRequest(operation)
                throwIfError(response, operation.operationId)
                EmptyResponse(response.status.value, response.headers.entries())

            } catch (exception: Exception) {
                exception.handle()
            }
        }
    }

    private inline fun <reified RequestType, reified ResponseType> execute(operation: Operation<RequestType>) : Response<ResponseType> {
        try {
            return executeAsync<RequestType, ResponseType>(operation).get()
        } catch (exception: Exception) {
            exception.handle()
        }
    }

    private inline fun <reified RequestType, reified ResponseType> executeAsync(operation: Operation<RequestType>) : CompletableFuture<Response<ResponseType>> {
        return GlobalScope.future(Dispatchers.IO) {
            try {
                val response = executeHttpRequest(operation)
                throwIfError(response, operation.operationId)
                Response(response.status.value, response.body<ResponseType>(), response.headers.entries())
            } catch (exception: Exception) {
                exception.handle()
            }
        }
    }

    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
        /**
        * {{{summary}}}
        * {{{notes}}}
        * @param operation [{{operationIdCamelCase}}Operation]
        {{#exceptionDataTypes}}
            {{#dataTypes}}
                * @throws ExpediaGroupApi{{.}}Exception
            {{/dataTypes}}
        {{/exceptionDataTypes}}
        * @return a [Response] object with a body of type {{#customReturnType}}{{{returnType}}}{{/customReturnType}}{{^returnType}}Nothing{{/returnType}}
        */
        fun execute(operation: {{operationIdCamelCase}}Operation) : {{#customReturnType}}Response<{{{returnType}}}>{{/customReturnType}}{{^returnType}}EmptyResponse{{/returnType}} {
            {{#customReturnType}}
                return execute<{{#bodyParam}}{{dataType}}{{/bodyParam}}{{^hasBodyParam}}Nothing{{/hasBodyParam}}, {{{returnType}}}>(operation)
            {{/customReturnType}}
            {{^returnType}}
                return executeWithEmptyResponse<{{#bodyParam}}{{dataType}}{{/bodyParam}}{{^hasBodyParam}}Nothing{{/hasBodyParam}}>(operation)
            {{/returnType}}
        }

        /**
        * {{{summary}}}
        * {{{notes}}}
        * @param operation [{{operationIdCamelCase}}Operation]
        {{#exceptionDataTypes}}
            {{#dataTypes}}
                * @throws ExpediaGroupApi{{.}}Exception
            {{/dataTypes}}
        {{/exceptionDataTypes}}
        * @return a [CompletableFuture<Response>] object with a body of type {{#customReturnType}}{{{returnType}}}{{/customReturnType}}{{^returnType}}Nothing{{/returnType}}
        */
        fun executeAsync(operation: {{operationIdCamelCase}}Operation) : CompletableFuture<{{#customReturnType}}Response<{{{returnType}}}>{{/customReturnType}}{{^returnType}}EmptyResponse{{/returnType}}> {
        {{#customReturnType}}
            return executeAsync<{{#bodyParam}}{{dataType}}{{/bodyParam}}{{^hasBodyParam}}Nothing{{/hasBodyParam}}, {{{returnType}}}>(operation)
        {{/customReturnType}}
        {{^returnType}}
            return executeAsyncWithEmptyResponse<{{#bodyParam}}{{dataType}}{{/bodyParam}}{{^hasBodyParam}}Nothing{{/hasBodyParam}}>(operation)
        {{/returnType}}
        }

        private suspend {{^isKotlin}}inline {{/isKotlin}}fun {{^isKotlin}}k{{/isKotlin}}{{operationId}}WithResponse({{>client/apiParamsDecleration}}): {{#customReturnType}}Response<{{{returnType}}}>{{/customReturnType}}{{^returnType}}Response<Nothing>{{/returnType}} {
            {{#hasNonBodyParams}}
                val params =  {{operationIdCamelCase}}OperationParams(
                {{#nonBodyParams}}
                    {{#params}}
                        {{{paramName}}} = {{{paramName}}}{{^-last}}, {{/-last}}
                    {{/params}}
                {{/nonBodyParams}}
                )
            {{/hasNonBodyParams}}

            val operation = {{operationIdCamelCase}}Operation(
                {{#hasNonBodyParams}}
                    params,
                {{/hasNonBodyParams}}
                {{#hasBodyParam}}
                    {{#bodyParam}}{{{paramName}}}{{/bodyParam}}
                {{/hasBodyParam}}
            )

            return execute(operation)
        }

        {{^isKotlin}}
            /**
            * {{{summary}}}
            * {{{notes}}}
            {{#allParams}}
                * @param {{{paramName}}} {{{description}}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{#required}}{{#defaultValue}} (defaults to {{{.}}}){{/defaultValue}}{{/required}}
            {{/allParams}}
            {{#exceptionDataTypes}}
                {{#dataTypes}}
                    * @throws ExpediaGroupApi{{.}}Exception
                {{/dataTypes}}
            {{/exceptionDataTypes}}
            * @return {{#customReturnType}}{{{returnType}}}{{/customReturnType}}{{^returnType}}Nothing{{/returnType}}
            */
            @Throws(
                {{#exceptionDataTypes}}
                    {{#dataTypes}}
                        ExpediaGroupApi{{.}}Exception::class
                        {{^-last}},{{/-last}}
                    {{/dataTypes}}
                {{/exceptionDataTypes}}
            )
            @JvmOverloads
            @Deprecated("Use execute method instead", ReplaceWith("execute(operation: {{operationIdCamelCase}}Operation)"))
            fun {{operationId}}({{>client/apiParamsDecleration}}) : {{#customReturnType}}{{{returnType}}}{{/customReturnType}}{{^returnType}}Nothing{{/returnType}} {
                return {{operationId}}WithResponse({{>client/apiParamsPassed}}).data
            }

            /**
            * {{{summary}}}
            * {{{notes}}}
            {{#allParams}}
                * @param {{{paramName}}} {{{description}}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{#required}}{{#defaultValue}} (defaults to {{{.}}}){{/defaultValue}}{{/required}}
            {{/allParams}}
            {{#exceptionDataTypes}}
                {{#dataTypes}}
                    * @throws ExpediaGroupApi{{.}}Exception
                {{/dataTypes}}
            {{/exceptionDataTypes}}
            * @return a [Response] object with a body of type {{#customReturnType}}{{{returnType}}}{{/customReturnType}}{{^returnType}}Nothing{{/returnType}}
            */
            @Throws(
                {{#exceptionDataTypes}}
                    {{#dataTypes}}
                        ExpediaGroupApi{{.}}Exception::class
                        {{^-last}}, {{/-last}}
                    {{/dataTypes}}
                {{/exceptionDataTypes}}
            )
            @JvmOverloads
            @Deprecated("Use execute method instead", ReplaceWith("execute(operation: {{operationIdCamelCase}}Operation)"))
            fun {{operationId}}WithResponse({{>client/apiParamsDecleration}}) : {{#customReturnType}}Response<{{{returnType}}}>{{/customReturnType}}{{^returnType}}Response<Nothing>{{/returnType}} {
                try {
                    return GlobalScope.future(Dispatchers.IO) {
                        k{{operationId}}WithResponse({{>client/apiParamsPassed}})
                    }.get()
                } catch (exception: Exception) {
                    exception.handle()
                }
            }
        {{/isKotlin}}

        {{#isPaginatable}}
            {{>client/paginatorMethods}}
        {{/isPaginatable}}
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}