{{#operations}}
    {{#operation}}
        {{#hasNonBodyParams}}
            {{>licenseInfo}}

            package com.expediagroup.sdk.{{namespace}}.operations

            import com.expediagroup.sdk.core.model.OperationParams

            /**
            {{#nonBodyParams}}
                {{#params}}
                    * @property {{{paramName}}} {{{description}}}
                {{/params}}
            {{/nonBodyParams}}
            */
            data class {{classname}}Params(
                {{#nonBodyParams}}
                    {{#params}}
                        {{>modelMutable}} {{>client/apiParam}}{{^-last}}, {{/-last}}
                    {{/params}}
                {{/nonBodyParams}}
            ) : OperationParams {
                companion object {
                    @JvmStatic
                    fun builder() = Builder()
                }

                class Builder(
                    {{#nonBodyParams}}
                        {{#params}}
                            private var {{{paramName}}}: {{{dataType}}}? = null{{^-last}},{{/-last}}
                        {{/params}}
                    {{/nonBodyParams}}
                ) {
                    {{#nonBodyParams}}
                        {{#params}}
                            /**
                            * @param {{{paramName}}} {{{description}}}
                            */
                            fun {{{paramName}}}({{{paramName}}}: {{{dataType}}}) = apply { this.{{{paramName}}} = {{{paramName}}} }
                        {{/params}}
                    {{/nonBodyParams}}

                    fun build(): {{classname}}Params {
                        {{#hasRequiredParams}}
                            validateNullity()
                        {{/hasRequiredParams}}

                        return {{classname}}Params(
                            {{#nonBodyParams}}
                                {{#params}}
                                    {{{paramName}}} = {{{paramName}}}{{#required}}!!{{/required}}{{^-last}},{{/-last}}
                                {{/params}}
                            {{/nonBodyParams}}
                        )
                    }

                    {{#hasRequiredParams}}
                        private fun validateNullity() {
                            {{#nonBodyParams}}
                                {{#params}}
                                    {{#required}}
                                        if ({{{paramName}}} == null) {
                                            throw NullPointerException("Required parameter {{{paramName}}} is missing")
                                        }
                                    {{/required}}
                                {{/params}}
                            {{/nonBodyParams}}
                        }
                    {{/hasRequiredParams}}
                }

                override fun getHeaders(): Map<String, String> {
                    {{#hasHeaderParams}}
                        return buildMap {
                            {{#headerParams}}
                                {{paramName}}?.also { put("{{baseName}}", {{paramName}}) }
                            {{/headerParams}}
                        }
                    {{/hasHeaderParams}}
                    {{^hasHeaderParams}}
                        return emptyMap<String, String>()
                    {{/hasHeaderParams}}
                }

                override fun getQueryParams(): Map<String, Iterable<String>> {
                    {{#hasQueryParams}}
                        return buildMap {
                            {{#queryParams}}
                                {{paramName}}?.also { put ("{{baseName}}", {{#isContainer}}{{paramName}}{{/isContainer}}{{^isContainer}}listOf({{paramName}}.toString()){{/isContainer}})}
                            {{/queryParams}}
                        }
                    {{/hasQueryParams}}
                    {{^hasQueryParams}}
                        return emptyMap<String, Iterable<String>>()
                    {{/hasQueryParams}}
                }
            }
        {{/hasNonBodyParams}}
    {{/operation}}
{{/operations}}
