# Welcome to the {{artifactId}} SDK!

## Usage
```xml
<dependency>
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}</artifactId>
    <version>{{artifactVersion}}</version>
</dependency>
```

## License

This project is licensed under the Apache License v2.0 - see the [LICENSE](LICENSE) for details.
