[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 120

[*.{js,json,yml,yaml,sh}]
indent_size = 2

[*.mustache]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_no-empty-file = disabled
ktlint_code_style = intellij_idea
