{{{paramName}}}: {{{dataType}}}{{#required}}{{#defaultValue}} = {{#isString}}{{#removeDoubleQuotes}}{{{defaultValue}}}{{/removeDoubleQuotes}}{{/isString}}{{#isNumber}}{{{defaultValue}}}.toDouble(){{/isNumber}}{{^isString}}{{^isNumber}}{{{defaultValue}}}{{/isNumber}}{{/isString}}{{/defaultValue}}{{/required}}{{^required}}?{{#defaultValue}} = {{#isString}}{{#removeDoubleQuotes}}{{{defaultValue}}}{{/removeDoubleQuotes}}{{/isString}}{{#isNumber}}{{{defaultValue}}}.toDouble(){{/isNumber}}{{^isString}}{{^isNumber}}{{{defaultValue}}}{{/isNumber}}{{/isString}}{{/defaultValue}}{{^defaultValue}} = null{{/defaultValue}}{{/required}}