{{{paramName}}}:
{{#isContainer}}
    {{#uniqueItems}}
        kotlin.collections.{{#modelMutable}}Mutable{{/modelMutable}}Set
    {{/uniqueItems}}
    {{^uniqueItems}}
        kotlin.collections.{{#modelMutable}}Mutable{{/modelMutable}}List
    {{/uniqueItems}}
    <
        {{#items.isEnum}}{{{enumName}}}{{/items.isEnum}}
        {{^items.isEnum}}{{{items.dataType}}}{{/items.isEnum}}
    >
{{/isContainer}}
{{^isContainer}}
    {{#isEnum}}{{{enumName}}}{{/isEnum}}
    {{^isEnum}}{{{dataType}}}{{/isEnum}}
{{/isContainer}}
{{#required}}
    {{#defaultValue}} =
        {{#isEnum}}
            {{classname}}Params.{{{enumName}}}.{{{enumDefaultValue}}}
        {{/isEnum}}
        {{^isEnum}}
            {{#isString}}
                {{#removeDoubleQuotes}}{{{defaultValue}}}{{/removeDoubleQuotes}}
            {{/isString}}
        {{/isEnum}}
        {{#isNumber}}{{{defaultValue}}}.toDouble(){{/isNumber}}
        {{^isString}}
            {{^isNumber}}{{{defaultValue}}}{{/isNumber}}
        {{/isString}}
    {{/defaultValue}}
{{/required}}
{{^required}}?
    {{#defaultValue}} =
        {{#isContainer}}
            null
        {{/isContainer}}
        {{^isContainer}}
            {{#isEnum}}
                {{{enumName}}}.{{{enumDefaultValue}}}
            {{/isEnum}}
            {{^isEnum}}
                {{#isString}}
                    {{#removeDoubleQuotes}}{{{defaultValue}}}{{/removeDoubleQuotes}}
                {{/isString}}
            {{/isEnum}}
            {{#isNumber}}
                {{{defaultValue}}}.toDouble()
            {{/isNumber}}
            {{^isString}}
                {{^isNumber}}{{{defaultValue}}}{{/isNumber}}
            {{/isString}}
        {{/isContainer}}
    {{/defaultValue}}
    {{^defaultValue}}
        = null
    {{/defaultValue}}
{{/required}}