{{>licenseInfo}}

package {{packageName}}.models.exception

import com.expediagroup.openworld.sdk.core.model.exception.client.OpenWorldClientException

/**
 * An exception to be thrown when a constraint on some property has been violated.
 *
 * @property message The detail message.
 * @property constraintViolations A list of the constraint violations that occurred
 */
class PropertyConstraintViolationException(
    message: String,
    val constraintViolations: List<PropertyConstraintViolation>
) : OpenWorldClientException("$message ${constraintViolations.joinToString(separator = ",\n\t- ", prefix = "[\n\t- ", postfix = "\n]")}")
