<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>@@project.parent.groupId@@</groupId>
        <artifactId>@@project.parent.artifactId@@</artifactId>
        <version>@@project.parent.version@@</version>
        <relativePath/>
    </parent>

    <artifactId>{{artifactId}}</artifactId>
    <version>{{artifactVersion}}</version>
    <name>EG Open World SDK :: {{artifactId}}</name>

    <properties>
        <shadePrefix>{{packageName}}</shadePrefix>
        <sdk-version>${project.version}</sdk-version>
        <sdk-title>${project.artifactId}</sdk-title>
    </properties>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>@@project.parent.groupId@@</groupId>
                <artifactId>openworld-java-sdk-core</artifactId>
                <version>0.4.0</version>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <dependencies>
        <dependency>
            <groupId>@@project.parent.groupId@@</groupId>
            <artifactId>openworld-java-sdk-core</artifactId>
        </dependency>
        <dependency>
            <groupId>org.hibernate</groupId>
            <artifactId>hibernate-validator</artifactId>
            <version>8.0.0.Final</version>
        </dependency>
    </dependencies>

    <build>
        <plugins>

            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>properties-maven-plugin</artifactId>
                <version>1.0.0</version>
                <executions>
                    <execution>
                        <phase>generate-resources</phase>
                        <goals>
                            <goal>write-project-properties</goal>
                        </goals>
                        <configuration>
                            <outputFile>${project.build.outputDirectory}/sdk.properties</outputFile>
                        </configuration>
                    </execution>
                </executions>
            </plugin>

            <!-- Don't lint the generated code -->
            <plugin>
                <groupId>com.github.gantsign.maven</groupId>
                <artifactId>ktlint-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>check</id>
                        <phase>none</phase>
                    </execution>
                </executions>
            </plugin>
            <!-- Don't worry about dependencies since we're shading them all away -->
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-dependency-plugin</artifactId>
                <executions>
                    <execution>
                        <id>enforce-dependency-declarations</id>
                        <phase>none</phase>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.jetbrains.dokka</groupId>
                <artifactId>dokka-maven-plugin</artifactId>
                <version>${dokka-plugin.version}</version>
                <executions>
                    <execution>
                        <id>first</id>
                        <phase>pre-site</phase>
                        <goals>
                            <goal>dokka</goal>
                        </goals>
                        <configuration>
                            <sourceDirectories>
                                <dir>${project.basedir}/src/main/kotlin</dir>
                                <dir>${project.basedir}/src/main/java</dir>
                            </sourceDirectories>
                            <dokkaPlugins>
                                <plugin>
                                    <groupId>org.jetbrains.dokka</groupId>
                                    <artifactId>gfm-plugin</artifactId>
                                    <version>${dokka-plugin.version}</version>
                                </plugin>
                            </dokkaPlugins>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

</project>
