{{>maven/name}} v{{artifactVersion}} simplifies the onboarding process, enables less error-prone integrations, shortens development cycles, and gets products into the market faster.

https://developers.expediagroup.com/docs/products/{{>maven/references}}