import com.expediagroup.sdk.{{{namespace}}}.operations.*;

val metadata = mapOf(
{{#apiInfo}}
    {{#apis}}
        {{#operations}}
            {{#operation}}
    "{{{httpMethod}}}: {{{path}}}" to {{{operationIdCamelCase}}}Operation::class.java,
            {{/operation}}
        {{/operations}}
    {{/apis}}
{{/apiInfo}}
)

val testCases = mutableMapOf<String, MutableList<String>>().apply {
    {{#tests}}
        {{#value}}
    putIfAbsent("""{{{request.method}}}: {{{request.path}}}""", mutableListOf<String>())
    this["""{{{request.method}}}: {{{request.path}}}"""]!!.add("""{{{.}}}""")
        {{/value}}
    {{/tests}}
}