package com.expediagroup.sdk.{{{namespace}}}.test;

import com.fasterxml.jackson.module.kotlin.*
import com.fasterxml.jackson.databind.node.ObjectNode
import java.io.File;
import com.github.rvesse.airline.annotations.Command;

@Command(name = "cli", description = "Command Line Interface for SDK Test")
class Main {
    companion object {
        val mapper = jacksonObjectMapper()
        val executor = {{{clientClassname}}}Executor()

        @JvmStatic
        fun main(args: Array<String>) {
            Main().run()
        }
    }

    fun run() {
        File("src/main/resources").listFiles().forEach { file ->
            mapper.readTree(file).let { test ->
                val request = test["request"] as ObjectNode
                val response = test["response"] as ObjectNode

                executor.execute(request, response)
            }
        }
    }
}