package com.expediagroup.sdk.{{{namespace}}}.test;

import com.expediagroup.sdk.{{{namespace}}}.operations.*;


data class OperationMetadata(
    val requestType: Class<*>,
    val hasBody: Boolean,
    val hasParams: Boolean,
)

val metadata = mapOf<String, OperationMetadata>(
{{#apiInfo}}
    {{#apis}}
        {{#operations}}
            {{#operation}}
                "{{{httpMethod}}}: {{{path}}}" to OperationMetadata(
                requestType={{{operationIdCamelCase}}}Operation::class.java,
                hasBody={{hasBodyParam}},
                hasParams={{#hasNonBodyParams}}true{{/hasNonBodyParams}}{{^hasNonBodyParams}}true{{/hasNonBodyParams}},
                ),
            {{/operation}}
        {{/operations}}
    {{/apis}}
{{/apiInfo}}
)
