data class Response<T>(val body: T, val headers: Map<String, List<String>>)

internal fun toHeadersMap(entries: Set<Entry<String, List<String>>>): Map<String, List<String>> {
    return entries.stream().collect(
        Collectors.toMap(
            Entry<String, List<String>>::key,
            Entry<String, List<String>>::value
        )
    )
}