{{#isContainer}}
    {{#uniqueItems}}
        kotlin.collections.HashSet
    {{/uniqueItems}}
    {{^uniqueItems}}
        kotlin.collections.ArrayList
    {{/uniqueItems}}
    <
        {{#items.isEnum}}{{classname}}Params.{{{enumName}}}{{/items.isEnum}}
        {{^items.isEnum}}{{{items.dataType}}}{{/items.isEnum}}
    >
{{/isContainer}}
{{^isContainer}}
    {{#isEnum}}{{classname}}Params.{{{enumName}}}{{/isEnum}}
    {{^isEnum}}{{{dataType}}}{{/isEnum}}
{{/isContainer}}