class Builder(
{{#nonBodyParams}}
    {{#params}}
        @JsonProperty("{{{baseName}}}") private var {{{paramName}}}: {{>partials/datatype}}? = null
        {{^-last}},{{/-last}}
    {{/params}}
{{/nonBodyParams}}
) {
{{#nonBodyParams}}
    {{#params}}
        /**
        * @param {{{paramName}}} {{{description}}}
        */
        fun {{{paramName}}}({{{paramName}}}: {{>partials/datatype}}) = apply { this.{{{paramName}}} = {{{paramName}}} }
    {{/params}}
{{/nonBodyParams}}

    fun build(): {{classname}}Params {
        val params = {{classname}}Params(
        {{#nonBodyParams}}
            {{#params}}
                {{{paramName}}} = {{{paramName}}}{{#required}}!!{{/required}}{{^-last}},{{/-last}}
            {{/params}}
        {{/nonBodyParams}}
        )

        return params
    }

{{>embeddings/operations/params/builder}}
}

fun toBuilder() = Builder(
{{#nonBodyParams}}
    {{#params}}
        {{{paramName}}} = {{{paramName}}}{{^-last}},{{/-last}}
    {{/params}}
{{/nonBodyParams}}
)