{{#hasHeaderParams}}fun getHeaders(): Headers {
return Headers.builder().apply {
{{#headerParams}}
    {{#required}}
        add("{{baseName}}", {{paramName}}{{#isEnum}}.value{{/isEnum}})
    {{/required}}
    {{^required}}
        {{paramName}}?.let {
            add("{{baseName}}", it{{#isEnum}}.value{{/isEnum}})
        }
    {{/required}}
{{/headerParams}}
{{#responses}}
    {{#httpAcceptHeader}}
        add("Accept", "{{{mediaTypes}}}")
    {{/httpAcceptHeader}}
{{/responses}}
}.build()
}{{/hasHeaderParams}}