{{>licenseInfo}}
package {{packageName}}.models.exception

import com.expediagroup.sdk.core.model.getTransactionId
import com.expediagroup.sdk.core.model.exception.service.ExpediaGroupApiException
import com.expediagroup.sdk.core.model.exception.service.ExpediaGroupServiceDefaultErrorException
import {{packageName}}.models.*
import io.ktor.client.call.*
import io.ktor.client.statement.*
import kotlinx.coroutines.runBlocking

internal open class HttpStatusCodeRange(
    private val statusCode: String,
    val getException: (HttpResponse) -> ExpediaGroupApiException
) : Comparable<HttpStatusCodeRange> {
    open fun matches(statusCode: String): Boolean = if (isRangeDefinition()) this.statusCode.first() == statusCode.first() else this.statusCode == statusCode
    open fun isRangeDefinition(): Boolean = statusCode.matches(Regex("^[1-5]XX$"))
    override fun compareTo(other: HttpStatusCodeRange): Int = (if (this.isRangeDefinition()) 1 else 0).compareTo(if (other.isRangeDefinition()) 1 else 0)
}

internal object DefaultHttpStatusCodeRange : HttpStatusCodeRange(
    "DefaultHttpStatusCodeRange",
    { ExpediaGroupServiceDefaultErrorException(it.status.value, runBlocking { it.bodyAsText() }, it.request.headers.getTransactionId()) }
) {
    override fun matches(statusCode: String): Boolean = true
    override fun isRangeDefinition(): Boolean = true
}

internal object ErrorObjectMapper {
    private val defaultHttpStatusCodeRanges = listOf(DefaultHttpStatusCodeRange)
    private val httpStatusCodeRanges: Map< String, List< HttpStatusCodeRange > > = mapOf(
        {{#apiInfo}}
            {{#apis}}
                {{#operations}}
                    {{#operation}}
                        Pair(
                            "{{operationId}}",
                            listOf(
                                {{#responses}}
                                    {{^is2xx}}
                                        HttpStatusCodeRange("{{code}}") { ExpediaGroupApi{{dataType}}Exception(it.status.value, fetchErrorObject(it) as {{dataType}}, it.headers.getTransactionId()) },
                                    {{/is2xx}}
                                {{/responses}}
                                DefaultHttpStatusCodeRange
                            )
                        ){{^-last}},{{/-last}}
                    {{/operation}}
                {{/operations}}
            {{/apis}}
        {{/apiInfo}}
    )

    fun process(httpResponse: HttpResponse, operationId: String): ExpediaGroupApiException =
        httpStatusCodeRanges.getOrDefault(operationId, defaultHttpStatusCodeRanges).filter { it.matches(httpResponse.status.value.toString()) }.min().getException(httpResponse)

    private inline fun <reified T> fetchErrorObject(httpResponse: HttpResponse): T = runBlocking {
        runCatching { httpResponse.body<T>() }.getOrElse { throw ExpediaGroupServiceDefaultErrorException(httpResponse.status.value, httpResponse.bodyAsText(), httpResponse.request.headers.getTransactionId()) }
    }
}

{{#apiInfo}}
    {{#apis}}
        {{#defineApiExceptions}}{{/defineApiExceptions}}
    {{/apis}}
{{/apiInfo}}
