openapi: 3.0.3
info:
  title: EWSHotel API
  description: >
    The XAP Lodging Search APIs can be used by partners both booking via an
    Expedia website, or by partners that

    will be booking via the XAP APIs. Each API also provides pre-configured links to the Expedia website,

    the XAP Booking API, or both.
  contact:
    name: PartnerAPIs
    url: https://confluence.expedia.biz/display/EWS/EWSHotel
    email: dreamweaver@expedia.com
  version: v3
  x-eg-lifecycle: LIVE
  x-eg-tags:
    - Partner
    - EWS
    - XAP
    - EWSHotel
    - Hotel
    - Lodging
    - LodgingListings
    - LodgingDetails
    - LodgingRateCalendar
servers:
  - url: https://apim.expedia.com
    description: Production Server
tags:
  - name: Lodging Listing
  - name: Lodging Details
  - name: Lodging Rate Calendar
  - name: Lodging Quotes
  - name: Lodging Availability Calendars
  - name: Cars Listings
  - name: Cars Detail
paths:
  "//hotels/details/{offerToken}":
    get:
      tags:
        - get-lodging-details
      summary: Get Extended information with a single property offer
      description: Extended information about the rate, charges, fees, and financial
        terms associated with booking a single lodging rate plan offer.
      operationId: get-lodging-details
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: >
            The `Partner-Transaction-ID` is a required API request header
            element that is <u>not</u> consumed

            by Expedia. It will be required in all XAP v3 API request headers and will be mirrored

            back to the partner in the corresponding API response header.


            The `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.
          required: true
          schema:
            type: string
            example: Partner123
        - name: offerToken
          in: path
          description: >
            A Hotel Natural Key from the Lodging Search API -> Hotels ->
            RoomTypes -> OfferId. It is a concatenated

            string of multiple values that defines a hotel offer.
          required: true
          schema:
            type: string
        - name: price
          in: query
          description: >
            The total price of the selected property.


            This value will be used to determine if there is a price change between the details and booking request.


            The `price` element will be automatically included in the ApiDetails HATEOAS link which is returned

            along with the Lodging Details API response.
          schema:
            type: string
        - name: currency
          in: query
          description: >
            Value should be a standard ISO 3 letter currency code.


            The currency code that is associated to the `TotalPrice` element for the selected property's rate plan from

            the Lodging Listing API response.


            The `currency` element will be automatically included in the ApiDetails HATEOAS link which is returned

            along with the Lodging Details response.
          schema:
            type: string
        - name: locale
          in: query
          description: >
            `locale` is composed of language identifier and region identifier,
            connected by "_" that specifies the

            language in which the response will be returned.


            The `locale` value used in the Lodging Details API query should match the `locale` value that was used in

            the Lodging Search API query.
          schema:
            type: string
        - name: imageSizes
          in: query
          description: >
            Indicate what size of image will be returned.


            The available image sizes are:

            - t : Thumbnail

            - s : Small

            - b : Big

            - y : 500x500v

            - z : 1000x1000v


            Resolution from smallest to largest is t < s < b < y < z.


            If no `imageSizes` is specified, the t size images will be returned.


            If an image is missing in one size, we will try to fall back to the same image with lower resolution.


            (If image "_z" is not available, we will try to return image "_y", and if it is also unavailable, we will return image "_b", and so on.)


            Only one image size is allowed.
          schema:
            type: string
            enum:
              - t
              - s
              - b
              - y
              - z
            default: t
        - name: groupedAmenities
          in: query
          description: >
            Specifies whether to return the grouped amenities. If
            `groupedAmenities` is true, `DescriptiveAmenities`

            node will be returned in response, otherwise `Amenities` node will be returned.
          schema:
            type: boolean
      responses:
        "200":
          description: Normal Response
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/HotelDetailsResponse"
        "400":
          description: User Fault
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: INVALID_NATURAL_KEY
                    Description: Invalid natural key. Malformed hotel natural key detected.
                TransactionId: e883f530-9776-4011-a14d-3cc089feb6cf
        "401":
          description: Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Unauthorized
        "403":
          description: You cannot consume this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: You cannot consume this service
        "429":
          description: API rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: API rate limit exceeded.
        "500":
          description: Service Error
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: APPLICATION_ERROR
                    Description: Application error.
                TransactionId: 1f497fa0-a996-4796-b97e-3ad269bf7624
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Name resolution failed.
        "504":
          description: API time out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: The upstream server is timing out
      security:
        - Authorization: []
  //hotels/listings:
    get:
      tags:
        - get-lodging-listings
      summary: Search lodging inventory
      description: >
        Search Expedia lodging inventory by Location Keyword, Region ID,
        Lat/Long, or Hotel ID(s) and return

        up to 1,000 offers in response.


        Provides deeplink to Expedia site to book, or rate plan info to enable API booking.
      operationId: get-lodging-listings
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: >
            The `Partner-Transaction-ID` is a required API request header
            element that is <u>not</u> consumed

            by Expedia. It will be required in all XAP v3 API request headers and will be mirrored

            back to the partner in the corresponding API response header.


            The `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.
          required: true
          schema:
            type: string
            example: Partner123
        - name: ecomHotelIds
          in: query
          description: Comma-separated list of Expedia hotel IDs. There can be no spaces
            between parameters.
          schema:
            type: string
            example: 28082,11133
        - name: hcomHotelIds
          in: query
          description: Comma-separated list of Hotels.com hotel IDs. There can be no
            spaces between parameters.
          schema:
            type: string
        - name: geoLocation
          in: query
          description: >
            The latitude and longitude values identifying the center point of a
            search radius (circle).


            North latitude will be represented by a positive value. South latitude by a negative value.


            East longitude will be represented by a positive value. West longitude by a negative value.


            The latitude and longitude values are joined together with a comma (,) character.

            There can be no spaces between parameters.


            This parameter should be used in combination with the radius and unit parameters below.
          schema:
            type: string
        - name: radius
          in: query
          description: >
            The size of the search radius around a specified point when
            searching by

            `geoLocation`, `locationKeyword`, or `regionids`.


            `radius` is optional and the default value is 25 km for `geoLocation` and `locationKeyword`

            if not specified. `radius` must be less than 200 km or 124 mi.


            This parameter should be used in combination with the `unit` and `geoLocation`, `locationKeyword`,

            or `regionids` parameters."
          schema:
            type: integer
            format: int64
            default: 25
        - name: unit
          in: query
          description: >
            The unit of measure for searches performed via `geoLocation`,
            `locationKeyword`, or `regionids`.


            Valid units are `km` and `mi`.


            This parameter should be used in combination with the `radius` and `geoLocation`, `locationKeyword`,

            or `regionids`.
          schema:
            type: string
            default: km
            enum:
              - km
              - mi
        - name: locationKeyword
          in: query
          description: >
            A keyword search for a location. The keyword can be a city, address,
            airport or a landmark.


            This parameter should be used in combination with the `radius` and `unit` parameters above to define

            a circle around the landmark.


            The default radius value is 25 if not specified.


            Combined search is not supported, if more than one search method is included in the request, an error

            will be returned.
          schema:
            type: string
        - name: regionIds
          in: query
          description: >
            Comma-separated list of Expedia Region IDs. There can be no spaces
            between parameters.

            Search returns set of all hotels in the combined regions.


            You may search using a string of 1 - 10 Region ID's.

            More than 10 Region ID's are not supported and will generate and error.


            You can get the complete list of Expedia Region IDs from

            [Static Data Platform ALL_REGIONS file](https://developers.expediagroup.com/xap/products/xap/static-data-platform/download-url-api/download-url-api-v1).


            This parameter could be used in combination with the `radius` and `unit` parameters above to define

            a circle around the `regionIds`. The default radius value is 0 if not specified.
          schema:
            type: string
        - name: checkIn
          in: query
          description: >
            Check-in date for hotel stay in an ISO 8601 Date format
            [YYYY-MM-DD].


            This parameter should be used in combination with the `checkOut` parameter.


            If `checkIn` and `checkOut` are not included, a dateless search will be conducted which returns

            a `Featured Offer` for each of the hotels found.


            If one of `checkIn` and `checkOut` is not included, an error will be returned.


            The maximum advanced search window is 500 days in the future, and the maximum length of stay is 28.
          schema:
            type: string
            format: date
            example: 2023-09-12
        - name: checkOut
          in: query
          description: >
            Checkout date for hotel stay in an ISO 8601 Date format
            [YYYY-MM-DD].


            This parameter should be used in combination with the `checkIn` parameter.


            If `checkIn` and `checkOut` are not included, a dateless search will be conducted which returns

            a `Featured Offer` for each of the hotels found.


            If one of `checkIn` and `checkOut` is not included, an error will be returned.


            The maximum advanced search window is 500 days in the future, and the maximum length of stay is 28.
          schema:
            type: string
            format: date
            example: 2023-09-14
        - name: locale
          in: query
          description: >
            `locale` is composed of language identifier and region identifier,
            connected by "_" that specifies

            the language in which the response will be returned.


            You can find a link to the complete list of `locales` along with the Point of Sale List in [Supported Points of Sale](https://developers.expediagroup.com/xap/products/xap/lodging/references/supported-points-of-sale). Note that even though the Listings API supports localization for all `locales` listed in the list, all `locales` are not valid for all Points of Sale.


            For example, Ecom US POS supports `en_US`, `es_MX` and `zh_CN`. For Ecom US POS, the Listings API will respond with content in Spanish for requests with either `locale=es_MX` or `es_US`. However, only the deeplinks for `locale=es_MX` should work properly and switch the website to Spanish, while the ones for locale=es_US will be fallen back to English.


            If not specified in the query, the native language for that POS will be returned.

            And if more than one language is supported, the response will be returned in the first language

            depending on the language setting of the POS.
          schema:
            type: string
          example: en_US
        - name: currency
          in: query
          description: Value should be a standard ISO 3 letter currency code.
          schema:
            type: string
          example: USD
        - name: source
          in: query
          description: Indicate the source where the request is coming from.
          schema:
            type: string
            enum:
              - browser
              - mobileapp
            default: browser
        - name: travelWithPets
          in: query
          description: >
            Indicates if the search should include pet-friendly properties.


            If set to "True" only properties that allow pets are returned. Pet fees, if available, are included in TaxesAndFees.


            The parameter is only applicable to the Vrbo brand.
          schema:
            type: boolean
            default: false
        - name: contentDetails
          in: query
          description: >
            This parameter is optional and can be specified as the following
            values.

            - lowest

            - low (default)

            - medium

            - high


            ### *lowest*

            Returns the absolute minimum response for up to 1,000 hotels:

            - Count(Count of hotels that are actually returned)

            - TotalHotelCount(Count of hotels that are requested)

            - TransactionId

            - StayDates

            - LengthOfStay

            - NumberOfRooms

            - Occupants

            - ***Hotels***
              - Id
              - Status
              - Links
              - ***RoomTypes***
                - RoomKey [Deprecated]
                - OfferId
                - RatePlanType
                - ***RatePlans***
                  - RoomTypeId
                  - RatePlanId
                  - RateRuleId
                  - InventorySourceId
                  - RemainingCount
                  - Price
                  - MemberOnlyDeal
                  - Promotions
                  - PaymentMethod
                  - FullDepositUponBooking
                  - PaymentSchedule
                  - CancellationPolicy
                - Price
                  - BaseRate
                  - TaxesAndFees
                  - TotalPrice
                  - TotalStrikeOutPrice
                  - AvgNightlyRate
                  - AvgNightlyStrikeOutRate
                  - AvgNightlyRateWithFees
                  - AvgNightlyStrikeOutRateWithFees
                  - HotelMandatoryFees
                  - TotalPriceWithHotelFees
                  - NightlyRates
                  - TaxesAndFeesDetails
                  - RefundableDamageDeposit

            This minimal response is the best for partners that store static hotel location data locally,

            and who would like to have the smallest and fastest API response.


            ### *low*

            Returns basic hotel information in response for up to 1,000 hotels.


            Includes all elements returned when `contentDetails=lowest` plus:

            - ***Hotels***
              - Name
              - PropertyType
              - PropertyDetails
              - LocalCurrencyCode
              - Location
              - Distance
              - Description(may not be localized)
              - ChainAndBrandInfo
              - ThumbnailUrl
              - StarRating
              - GuestRating
              - GuestReviewCount
              - PetFriendly
              - LgbtqiaFriendly
              - ImportantNotices
              - ***RoomTypes***
                - Description
                - ***RatePlans***
                  - InventorySourceCode
                  - PaymentTime
                  - ReserveWithDeposit
                  - FreeInternet
                  - FreeWiFi
                  - FreeParking
                  - FreeBreakfast

            ### *medium*

            Returns more complete hotel information in response for up to 200 hotels.


            Includes all elements returned when `contentDetails=low` plus:

            - ***Hotels***
              - HotelAmenities
              - RoomAmenities
              - ***RoomTypes***
                - ***RatePlans***
                  - FreeInternetDetails
                  - FreeBreakfastDetails
                  - Amenities
                - Amenities

            **Note**: Setting the `contentDetails` to `medium` will automatically limit your response size to 200 hotels.


            ### *high*

            Returns extended hotel information in response for up to 5 hotels.


            Includes all elements returned when `contentDetails=medium` plus:

            - ***Hotels***
              - RenovationsAndClosures
              - Policies
              - OptionalExtras
              - Media
              - Accessibility
              - ***RoomTypes***
                - SmokingOption
                - BedTypeOptions
                - RoomOccupancyPolicy
                - Media

            **Note**: Setting the `contentDetails` to `high` will automatically limit your response size to 5 hotels.
          schema:
            type: string
            enum:
              - lowest
              - low
              - medium
              - high
            default: low
        - name: allRoomTypes
          in: query
          description: >
            Returns all available rate plans for the selected hotels.


            This parameter requires that a `checkIn` date and `checkOut` date be supplied, as the API cannot return additional room rates on a dateless search.


            Including `allRoomTypes=true` in your query will automatically limit your response size to no more than 200 hotels.


            Including `allRoomTypes=true` and `contentDetails=high` will limit your response size to no more than 5 hotels.
          schema:
            type: boolean
            default: false
        - name: links
          in: query
          description: >
            
            Comma-separated list to specify the types of deep links.

            - WD (link to Web Details site)

            - WS (link to Web Search Result page)

            - AD (link for Details API)

            - RC (link for RateCalendar API)

            - WEB (include all website links)

            - API (links for Details and RateCalendar API)


            There are two level of links returned in the API response: Property-level deeplinks and room-level deeplinks.


            When requesting API deeplinks you will receive both a RateCalendar API link at the property level,

            and Details API links at the room level, since the Lodging Details API only displays information

            on rate plan offers.


            When requesting AD deeplinks, you will <u>only</u> receive Details API links at the room level.

            `Links` node in property-level will be omitted.


            If you are looking for more complete details on a single property via the API, you should do another search

            in the Lodging API for the single Hotel ID, with `contentDetails=high` to get all details back in return

            (note that you can only get back a maximum of 5 hotels when `contentDetails` is set to `high`).


            **NOTE**: dateless searches will not return Details API links, since the Lodging Details API will only

            return details on a specific room offer for specific dates.
          schema:
            type: array
            items:
              type: string
              enum:
                - WD
                - WS
                - AD
                - RC
                - WEB
                - API
        - name: minStarRating
          in: query
          description: The minimum star rating for hotels returned in the response.
          schema:
            type: string
            enum:
              - "1.0"
              - "1.5"
              - "2.0"
              - "2.5"
              - "3.0"
              - "3.5"
              - "4.0"
              - "4.5"
              - "5.0"
        - name: maxStarRating
          in: query
          description: The maximum star rating for hotels returned in the response.
          schema:
            type: string
            enum:
              - "1.0"
              - "1.5"
              - "2.0"
              - "2.5"
              - "3.0"
              - "3.5"
              - "4.0"
              - "4.5"
              - "5.0"
        - name: limit
          in: query
          description: >
            The maximum number of hotels returned in the response. Must be an
            integer greater than 0.


            If the value is greater than 1000, only the first 1000 hotels are returned.


            Settings on `contentDetails` and `allRoomTypes` parameters may cause this value to be overridden

            and a lower number of hotels to be returned.


            The `limit` parameter is intended to be used to control the response size, but partners should be careful

            about combining it with other filter parameters, as each parameter that you add will shrink the response,

            even to the point where you may even get a "no hotel found" error if none of the hotels in the base response

            meet the combined filter requirements.


            Filters are cumulative in effect, and results must meet all filter requirements to be displayed.
          schema:
            type: integer
            format: int64
        - name: queryText
          in: query
          description: >
            Query text is used for a full text search of hotel data.


            Text search based on hotel name, description, address, promotion description, amenities description.
          schema:
            type: string
        - name: availOnly
          in: query
          description: >
            Specifies whether to return only available hotels in the search
            results.


            If the value of this parameter is true, the search results will only return hotels that have availability

            during the requested dates.


            If there are no hotels with availability in your search then an empty record set will be returned.


            This parameter is ignored for dateless searches.
          schema:
            type: boolean
        - name: smokingPreference
          in: query
          description: Specifies smoking preference.
          schema:
            type: string
            enum:
              - smoking
              - nonsmoking
              - both
        - name: rateType
          in: query
          description: Indicate which type of `paymentMethod` for each room will be
            returned.
          schema:
            type: string
            enum:
              - payonline
              - payhotel
              - all
        - name: imageSizes
          in: query
          description: >
            Indicates what size images will be displayed for `hotelPhotos` and
            `roomPhotos` are returned when

            `contentDetails=high`.


            The available image sizes are:

            - t : Thumbnail

            - s : Small

            - b : Big

            - y : 500x500v

            - z : 1000x1000v


            Resolution from smallest to largest is t < s < b < y < z.


            If no `imageSizes` is specified, the t size images will be returned.


            If an image is missing in one size, we will try to fall back to the same image with lower resolution.


            (If image "_z" is not available, we will try to return image "_y", and if it is also unavailable, we will return image "_b", and so on.)


            Only one image size is allowed.
          schema:
            type: string
            enum:
              - t
              - s
              - b
              - y
              - z
        - name: thumbnailImageSize
          in: query
          description: >
            Indicate what size of image will be used for the single `thumbnail`
            image that is returned when

            `contentDetails` is set to `low`, `medium` or `high`.


            The available thumbnail image sizes are:

            - t : Thumbnail

            - s : Small

            - b : Big

            - y : 500x500v

            - z : 1000x1000v


            Resolution from smallest to largest is t < s < b < y < z.


            If no `thumbnailImageSize` is specified, the t size images will be returned.


            if no thumbnail image found, it would not return thumbnail image.


            Only one thumbnail image size is allowed.
          schema:
            type: string
            enum:
              - t
              - s
              - b
              - y
              - z
        - name: includedPropertyTypeIds
          in: query
          description: >
            Only return hotels where the `PropertyType` ID is one of the IDs in
            the `includedPropertyTypeIds` field.


            If the API query includes the parameter `contentDetail=lowest` the `PropertyType` parameter will not

            be returned in the response. Even in this case, the filtering is still being applied, even though there is

            no `PropertyType` parameter in the response with which to validate.


            `includedPropertyTypeIds` and `excludedPropertyTypeIds` fields are mutually exclusive - which means that

            each query may contain **one** of the parameters, or **neither** of the parameters, but the query may not

            contain **both** of the parameters.


            A complete list of supported Expedia Property Types can be found in [Lodging Property Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/property-types).
          schema:
            type: string
        - name: excludedPropertyTypeIds
          in: query
          description: >
            Return all hotels **except** those whose `PropertyType` ID is in the
            `excludedPropertyTypeIds` field.


            If the API query includes the parameter `contentDetail=lowest` the `PropertyType` parameter will not

            be returned in the response. Even in this case, the filtering is still being applied, even though there is

            no `PropertyType` parameter in the response with which to validate.


            `includedPropertyTypeIds` and `excludedPropertyTypeIds` fields are mutually exclusive - which means that

            each query may contain **one** of the parameters, or **neither** of the parameters, but the query may not

            contain **both** of the parameters.


            A complete list of supported Expedia Property Types can be found in [Lodging Property Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/property-types).
          schema:
            type: string
        - name: includedInventorySourceIds
          in: query
          description: >
            Querying with no `includedInventorySourceIds` parameter will return
            listings from all available inventory

            sources.


            Query with the `includedInventorySourceIds` parameter included will only return listings from the requested

            inventory sources. All others will be left out.


            `includedInventorySourceId=24` will return only Expedia lodging inventory.


            `includedInventorySourceId=83` will return only Vrbo lodging inventory.


            `includedInventorySourceId=24,83` will return both Expedia and Vrbo lodging inventory.
          schema:
            type: string
        - name: freeCancellation
          in: query
          description: >
            Specifies whether to return only free cancelable room rates in the
            search results.


            If the value of this parameter is true, the search results will only return hotels that have free cancelable room rates during the requested dates.


            If there are no hotels with free cancelable room rates in your search then an empty record set will be returned.


            Default value is false, if query without this parameter or the value of this parameter is false, all available room rates will be returned.


            This parameter is ignored for dateless searches.
          schema:
            type: boolean
        - name: groupedAmenities
          in: query
          description: >
            Specifies whether to return the grouped amenities. If
            `groupedAmenities` is true, `DescriptiveAmenities`

            node will be returned in response, otherwise `Amenities` node will be returned.
          schema:
            type: boolean
        - name: blockFullDepositRateplan
          in: query
          description: >
            Specifies whether to return `rateplan` with `FullDepositUponBooking`
            as true.


            If `blockFullDepositRateplans` is true, the search results will not return `rateplan` with `FullDepositUponBooking` as true.


            The default value is false, if query without this parameter or the value of this parameter is false, all available rateplan will be returned.


            This parameter is ignored for dateless search.
          schema:
            type: boolean
            default: false
        - name: ratePlanType
          in: query
          description: >
            **Note**: This parameter is visible to partners only by
            configuration. Please contact your Expedia Account

            Manager if you need this parameter.


            To specify the desired rate plan types. The options are:

            - standalone : Ask for standalone rates

            - package : Ask for package rates, but standalone rate also may be returned if available.


            Otherwise only standalone rate plans will be returned.


            `WebSearchResult` and `WebDetails` links won't be returned for package rate.
          schema:
            type: string
            enum:
              - standalone
              - package
        - name: sortType
          in: query
          description: >
            Specifies the field that the search results will be ordered by.


            To be used in conjunction with sortOrder parameter below.


            **CMA Compliance Note (UK)**: partners doing business in the UK should be sorting their search results using

            the `totalpricewithfees` parameter in their query string so that the sorting complies with CMA regulations.
          schema:
            type: string
            enum:
              - price
              - starrating
              - avgrate
              - deals
              - guestrating
              - hotelname
              - distance
              - totalpricewithfees
        - name: sortOrder
          in: query
          description: >
            Specifies the sort order of search results.


            If no sort order is specified, the default is `asc`. But for deals sorting, it only supports `desc`.


            To be used in conjunction with the `sortType` parameter above.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: room1.adults
          in: query
          description: >
            Specifies the number of adults staying in a specific room.


            Default value is one room with 2 adults.


            Example: `room1.adults` is used to specify the number of adults in the first room.
          schema:
            type: integer
            format: int64
          example: 2
        - name: room1.childAges
          in: query
          description: >
            Comma-separated list that specifies the age(s) for each of the
            children in each of the rooms.


            Example: `room2.childAges=1,3` means two children (1-year old and 3-year old) are staying in room #2.


            Children must be accompanied by an adult.
          schema:
            type: string
          example: 8,10
        - name: room2.adults
          in: query
          description: Specifies the number of adults staying in second room.
          schema:
            type: integer
            format: int64
        - name: room2.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in second room.
          schema:
            type: string
        - name: room3.adults
          in: query
          description: Specifies the number of adults staying in third room.
          schema:
            type: integer
            format: int64
        - name: room3.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in third room.
          schema:
            type: string
        - name: room4.adults
          in: query
          description: Specifies the number of adults staying in fourth room.
          schema:
            type: integer
            format: int64
        - name: room4.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in fourth room.
          schema:
            type: string
        - name: room5.adults
          in: query
          description: Specifies the number of adults staying in fifth room.
          schema:
            type: integer
            format: int64
        - name: room5.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in fifth room.
          schema:
            type: string
        - name: room6.adults
          in: query
          description: Specifies the number of adults staying in sixth room.
          schema:
            type: integer
            format: int64
        - name: room6.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in sixth room.
          schema:
            type: string
        - name: room7.adults
          in: query
          description: Specifies the number of adults staying in seventh room.
          schema:
            type: integer
            format: int64
        - name: room7.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in seventh room.
          schema:
            type: string
        - name: room8.adults
          in: query
          description: Specifies the number of adults staying in eighth room.
          schema:
            type: integer
            format: int64
        - name: room8.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in eighth room.
          schema:
            type: string
      responses:
        "200":
          description: Normal Response
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/HotelListingsResponse"
        "400":
          description: User Fault or DisambiguationResponse Fault
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              examples:
                DisambiguationResponse:
                  description: DisambiguationResponse
                  value:
                    TransactionId: f06edfa3-27f4-44e6-838c-b8dd3d0a3210
                    Errors:
                      - Code: AMBIGUOUS_LOCATION
                        DetailCode: MULTIPLE_AMBIGUOUS_LOCATION
                        Description: More than one location found
                        LocationKeyword: dublin
                        LocationOptions:
                          - Type: MULTICITY
                            RegionID: 178256
                            ShortName: Dublin (and vicinity)
                            AirportCode: DUB
                            Address: Dublin (and vicinity), Ireland
                            Country:
                              Name: Ireland
                              IsoCode2: IE
                              IsoCode3: IRL
                            GeoLocation:
                              Latitude: 53.34402
                              Longitude: -6.26146
                          - Type: POI
                            RegionID: 553248621563220200
                            ShortName: Market On Madison
                            AirportCode: MCN
                            Address: Market On Madison, Dublin, Georgia, United States of America
                            Country:
                              Name: United States of America
                              IsoCode2: US
                              IsoCode3: USA
                            GeoLocation:
                              Latitude: 32.539313
                              Longitude: -82.902537
                UserFault:
                  description: UserFault
                  value:
                    Errors:
                      - Code: COMBINED_HOTEL_SELECT_CRITERIA
                        Description: >
                          Combined hotel search is not supported. Please specify
                          either one of the following search

                          criteria: [geoLocation, regionIds, ecomHotelIds, hcomHotelIds, locationKeyword, hnk, offerId].
                    TransactionId: 242d7a77-4063-439b-a9d0-12da0ff5116e
        "401":
          description: Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Unauthorized
        "403":
          description: You cannot consume this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: You cannot consume this service
        "429":
          description: API rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: API rate limit exceeded.
        "500":
          description: Service Error
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: APPLICATION_ERROR
                    Description: Application error.
                TransactionId: 1490a74b-4c90-4e78-983d-4ede360ce52a
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: name resolution failed
        "504":
          description: API time out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: The upstream server is timing out
      security:
        - Authorization: []
  //hotels/rateCalendar:
    get:
      tags:
        - get-lodging-rate-calendar
      summary: Get rate calendar of a property
      description: The Rate Calendar API will return the lowest rate plan for a range
        of days for one selected Expedia lodging property.
      operationId: get-lodging-rate-calendar
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: >
            The `Partner-Transaction-ID` is a required API request header
            element that is <u>not</u> consumed

            by Expedia. It will be required in all XAP v3 API request headers and will be mirrored

            back to the partner in the corresponding API response header.


            The `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.
          required: true
          schema:
            type: string
            example: Partner123
        - name: ecomHotelId
          in: query
          description: >
            The Expedia hotel ID for which the calendar is being requested.


            **Note**: Either an Expedia Hotel ID or a Hotels.com Hotel ID must be included in the request.

            You may use one or the other, but not both.
          schema:
            type: string
        - name: hcomHotelId
          in: query
          description: >
            The Hotel.com hotel ID for which the calendar is being requested.


            **Note**: Either an Expedia Hotel ID or a Hotels.com Hotel ID must be included in the request.

            You may use one or the other, but not both.
          schema:
            type: string
        - name: startDate
          in: query
          description: >
            Start date for check-in search range in an ISO 8601 Date format
            [YYYY-MM-DD].


            **Note**: The start date may not be in the past.
          required: true
          schema:
            type: string
            format: date
            example: 2022-09-12T00:00:00.000Z
        - name: endDate
          in: query
          description: >
            End date for check-in search range in an ISO 8601 Date format
            [YYYY-MM-DD].


            **Note**: The end date must be after the start date. The maximum supported search range is 180 days.
          required: true
          schema:
            type: string
            format: date
            example: 2022-09-14T00:00:00.000Z
        - name: lengthOfStay
          in: query
          description: The length of stay to retrieve the lowest price for.
          schema:
            type: integer
            format: int32
            default: 1
        - name: currency
          in: query
          description: The requested currency expressed according to ISO 4217.
          schema:
            type: string
      responses:
        "200":
          description: Normal Response
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/RateCalendarResponse"
        "400":
          description: User Fault
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: INVALID_HCOMHOTELID
                    Description: The hcomHotelId is invalid. Please specify correct Hcom hotel id.
                TransactionId: 97da7aa5-175e-4fdf-8bbd-32e997b6faa8
        "401":
          description: Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Unauthorized
        "403":
          description: You cannot consume this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: You cannot consume this service
        "409":
          description: NO_RESULTS_FOUND
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: NO_RESULTS_FOUND
                    Description: >
                      Sorry, your query appears to be correctly formatted, but
                      the inventory for which you are seeking

                      details is now unavailable.
                TransactionId: 2423025a-916f-4994-972a-68ee2e6b1e92
        "429":
          description: API rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: API rate limit exceeded.
        "500":
          description: Service Error
          content:
            application/vnd.exp-hotel.v3+json:
              schema:
                $ref: "#/components/schemas/Errors"
              example:
                Errors:
                  - Code: APPLICATION_ERROR
                    Description: Application error.
                TransactionId: b2f16375-9fe3-43e3-b524-fb5e0498460b
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Name resolution failed.
        "504":
          description: API time out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: The upstream server is timing out.
      security:
        - Authorization: []
  //lodging/quotes:
    get:
      tags:
        - get-lodging-quotes
      summary: Get properties price and availability information
      description: >
        The Lodging Quotes API will return the price and availability
        information for given Expedia lodging property ID(s).
      operationId: get-lodging-quotes
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: >
            The `Partner-Transaction-ID` is a required API request header
            element that is <u>not</u> consumed

            by Expedia. It will be required in all XAP v3 API request headers and will be mirrored

            back to the partner in the corresponding API response header.


            The `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.
          required: true
          schema:
            type: string
            example: Partner123
        - name: propertyIds
          in: query
          description: >
            Comma-separated list of Expedia Property IDs.


            ***NOTE**: This API supports Expedia property IDs <u>only</u> by design – HCOM and Vrbo property IDs are

            <u>not</u> supported.*


            *For optimal performance, limiting your request to a maximum of 200 properties is recommended.*
          schema:
            type: string
        - name: checkIn
          in: query
          description: >
            Check-in date for property stay in an ISO 8601 Date format.


            This parameter should be used in combination with the checkOut parameter.


            The maximum advanced search window is 1000 days in the future, and the maximum length of stay is 732.
          schema:
            type: string
            format: date
            example: 2023-10-12
        - name: checkOut
          in: query
          description: >
            Check-out date for property stay in an ISO 8601 Date format


            This parameter should be used in combination with the checkIn parameter.


            The maximum advanced search window is 1000 days in the future, and the maximum length of stay is 732.
          schema:
            type: string
            format: date
            example: 2023-10-14
        - name: currency
          in: query
          description: >
            The requested currency expressed according to ISO 4217.


            PoS default currency will be passed if another currency is not specified in the request.
          schema:
            type: string
        - name: links
          in: query
          description: |
            Comma-separated list to specify the types of deep links.
            - WD (link to web infosite)
            - WS (link to web search result page)
            - WEB (include all website links)
          schema:
            type: array
            items:
              type: string
              enum:
                - WD
                - WS
                - WEB
        - name: travelWithPets
          in: query
          description: >
            Indicates if the search should include pet-friendly properties.


            If set to "True" only properties that allow pets are returned. Pet fees, if available, are included in TaxesAndFees.


            The parameter is only applicable to the Vrbo brand.
          schema:
            type: boolean
            default: false
        - name: room1.adults
          in: query
          description: >
            Specifies the number of adults staying in a specific room.


            Example: `room1.adults` is used to specify the number of adults in the first room.


            ***NOTE***: multiple room request is only supported for conventional lodging hotels. Request for Vrbo

            properties should only include one room. e.g. 3 adults in room 1 and 3 in room 2, "room1.adults" is 6.
          schema:
            type: integer
            format: int64
          example: 2
        - name: room1.childAges
          in: query
          description: >
            Comma-separated list that specifies the age(s) for each of the
            children in each of the rooms.


            Example: `room2.childAges=1,3` means two children (1-year old and 3-year old) are staying in room #2.


            Children must be accompanied by an adult.


            Total number of children is indicated by the number of childAges included.


            If there are no children in the party then this value should not be included.


            ***NOTE***: multiple room request is only supported for conventional lodging hotels. Request for Vrbo

            properties should include the ages of all the children in the first room. e.g. 1 child age 10 in room #1

            and 1 child age 11 in room #2, "room1.childAges" is 10,11.
          schema:
            type: string
          example: 8,10
        - name: room2.adults
          in: query
          description: Specifies the number of adults staying in second room.
          schema:
            type: integer
            format: int64
        - name: room2.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in second room.
          schema:
            type: string
        - name: room3.adults
          in: query
          description: Specifies the number of adults staying in third room.
          schema:
            type: integer
            format: int64
        - name: room3.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in third room.
          schema:
            type: string
        - name: room4.adults
          in: query
          description: Specifies the number of adults staying in fourth room.
          schema:
            type: integer
            format: int64
        - name: room4.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in fourth room.
          schema:
            type: string
        - name: room5.adults
          in: query
          description: Specifies the number of adults staying in fifth room.
          schema:
            type: integer
            format: int64
        - name: room5.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in fifth room.
          schema:
            type: string
        - name: room6.adults
          in: query
          description: Specifies the number of adults staying in sixth room.
          schema:
            type: integer
            format: int64
        - name: room6.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in sixth room.
          schema:
            type: string
        - name: room7.adults
          in: query
          description: Specifies the number of adults staying in seventh room.
          schema:
            type: integer
            format: int64
        - name: room7.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in seventh room.
          schema:
            type: string
        - name: room8.adults
          in: query
          description: Specifies the number of adults staying in eighth room.
          schema:
            type: integer
            format: int64
        - name: room8.childAges
          in: query
          description: Comma-separated list that specifies the age(s) for each of the
            children in eighth room.
          schema:
            type: string
      responses:
        "200":
          description: Normal Response
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/LodgingQuotesResponse"
              examples:
                Lodging Quotes Response:
                  value: >-
                    {
                      "Count": 1,
                      "TotalPropertyCount": 1,
                      "TransactionId": "0e1d7193-2289-481c-bdf9-b7ac0b0b3bfe",
                      "StayDates": {
                        "CheckInDate": "2024-11-29",
                        "CheckOutDate": "2024-12-04"
                      },
                      "LengthOfStay": 5,
                      "Occupants": [
                        {
                          "Adults": 2
                        }
                      ],
                      "Properties": [
                        {
                          "Id": "87704892",
                          "Status": "AVAILABLE",
                          "RoomTypes": [
                            {
                              "RatePlans": [
                                {
                                  "CancellationPolicy": {
                                    "Refundable": true,
                                    "FreeCancellation": true,
                                    "FreeCancellationEndDateTime": "2024-11-15T23:59:00-08:00",
                                    "CancellationPenaltyRules": [
                                      {
                                        "PenaltyPercentOfStay": "50.00",
                                        "PenaltyStartDateTime": "2024-11-15T23:59:00-08:00",
                                        "PenaltyEndDateTime": "2024-11-22T23:59:00-08:00"
                                      },
                                      {
                                        "PenaltyPercentOfStay": "100",
                                        "PenaltyStartDateTime": "2024-11-22T23:59:00-08:00",
                                        "PenaltyEndDateTime": "2024-11-29T00:00:00-08:00"
                                      }
                                    ]
                                  }
                                }
                              ],
                              "Price": {
                                "BaseRate": {
                                  "Value": "790.00",
                                  "Currency": "USD"
                                },
                                "TaxesAndFees": {
                                  "Value": "348.48",
                                  "Currency": "USD"
                                },
                                "TotalPrice": {
                                  "Value": "1138.48",
                                  "Currency": "USD"
                                },
                                "AvgNightlyRate": {
                                  "Value": "158.00",
                                  "Currency": "USD"
                                },
                                "AvgNightlyRateWithFees": {
                                  "Value": "198.80",
                                  "Currency": "USD"
                                },
                                "TotalPriceWithPropertyFees": {
                                  "Value": "1138.48",
                                  "Currency": "USD"
                                }
                              },
                              "Links": {
                                "WebSearchResult": {
                                  "Method": "GET",
                                  "Href": "https://www.vrbo.com/search?selected=87704892&startDate=2024-11-29&endDate=2024-12-04&adults=2&tpid=9001&eapid=1&mpa=790.00&mpb=348.48&mpd=USD"
                                },
                                "WebDetails": {
                                  "Method": "GET",
                                  "Href": "https://www.vrbo.com/3032772?adults=2&startDate=2024-11-29&endDate=2024-12-04"
                                }
                              }
                            }
                          ]
                        }
                      ]
                    }
        "400":
          description: User Fault
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/LodgingErrors"
              example:
                Errors:
                  - Code: INVALID_PROPERTYID
                    Description: The PropertyIds is invalid. Which should be comma separated list of
                      property IDs.
                TransactionId: 97da7aa5-175e-4fdf-8bbd-32e997b6faa8
        "401":
          description: Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Unauthorized
        "403":
          description: You cannot consume this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: You cannot consume this service
        "429":
          description: API rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: API rate limit exceeded.
        "500":
          description: Service Error
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/LodgingErrors"
              example:
                Errors:
                  - Code: APPLICATION_ERROR
                    Description: Application error.
                TransactionId: b2f16375-9fe3-43e3-b524-fb5e0498460b
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Name resolution failed.
        "504":
          description: API time out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: The upstream server is timing out.
      security:
        - Authorization: []
  //lodging/availabilityCalendars:
    get:
      tags:
        - get-lodging-availability-calendars
      summary: Get availability calendars of properties
      description: Returns the availability of each day for a range of dates for given
        Expedia lodging properties.
      operationId: get-lodging-availability-calendars
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: >
            The `Partner-Transaction-ID` is a required API request header
            element that is <u>not</u> consumed

            by Expedia. It will be required in all XAP v3 API request headers and will be mirrored

            back to the partner in the corresponding API response header.


            The `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.
          required: true
          schema:
            type: string
            example: Partner123
        - name: propertyIds
          in: query
          description: >
            Comma-separated list of Expedia Property IDs.


            The API request supports a maximum of 50 Property IDs in a single request.
          schema:
            type: string
      responses:
        "200":
          description: Normal Response
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/AvailabilityCalendarResponse"
        "400":
          description: User Fault
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/LodgingErrors"
              example:
                Errors:
                  - Code: INVALID_PROPERTYIDS
                    Description: The propertyIds is invalid. Which should be comma separated list of
                      Expedia property IDs.
                TransactionId: 97da7aa5-175e-4fdf-8bbd-32e997b6faa8
        "401":
          description: Unauthorized or Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Unauthorized
        "403":
          description: cannot consume this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: You cannot consume this service
        "429":
          description: API rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: API rate limit exceeded.
        "500":
          description: Service Error
          content:
            application/vnd.exp-lodging.v3+json:
              schema:
                $ref: "#/components/schemas/LodgingErrors"
              example:
                Errors:
                  - Code: APPLICATION_ERROR
                    Description: Application error.
                TransactionId: b2f16375-9fe3-43e3-b524-fb5e0498460b
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: Name resolution failed.
        "504":
          description: API time out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIGatewayError"
              example:
                message: The upstream server is timing out.
      security:
        - Authorization: []
  //cars/listings:
    get:
      tags:
        - get-cars-listings
      summary: Search Expedia car inventory
      description: Search Expedia car inventory by date, pickup, and dropoff location
        to return a listing of available cars for hire.
      operationId: get-cars-listings
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: "[Not consumed by Expedia] Partner-generated identifier."
          required: true
          schema:
            type: string
          example: BestTravel-123456-798101112
        - name: pickup.airport
          in: query
          description: "Three letter code for the airport at which the customer would like
            to pick up the car.Supported values: standard 3 letter IATA Airport
            Code.Please see a full list of Car Vendor Codes and Airport Codes in
            the Related Links Section below.Cannot coexist with other pickup
            parameters, only one pickup parameter is allowed per request."
          schema:
            type: string
          example: SEA
        - name: pickup.city
          in: query
          description: The name of the city in which the customer would like to pick up
            the car.Search results will include up to 40 rental locations that
            are closest to the center point of the search.Cannot coexist with
            other pickup parameters, only one pickup parameter is allowed per
            request.
          schema:
            type: string
        - name: pickup.address
          in: query
          description: The address of a car rental location where the customer would like
            to pick up the car.Cannot coexist with other pickup parameters, only
            one pickup parameter is allowed per request.
          schema:
            type: string
          example: Seattle
        - name: pickup.geoLocation
          in: query
          description: The latitude and longitude that defines where the customer would
            like to pick up the car.Latitude and longitude are separated by
            comma.South latitudes and West longitudes are represented by
            negative values.Cannot coexist with other pickup parameters, only
            one pickup parameter is allowed per request.
          schema:
            type: string
          example: 111.00,-22.00
        - name: pickup.radius
          in: query
          description: Radius used in conjunction with a point to define the search area
            when searching by lat/ long, city or address.See ' unit' parameter
            below to select miles or kilometers.If no value is specified a
            default value of 25 will be assumed.
          schema:
            type: string
          example: "10"
        - name: dropOff.airport
          in: query
          description: "Three letter code for the airport at which the customer would like
            to drop off the car.Supported values: standard 3 letter IATA Airport
            Code.Please see a full list of Car Vendor Codes and Airport Codes in
            the Related Links Section below.Cannot coexist with other drop off
            parameters, only one drop off parameter is allowed per request.If no
            drop off location is specified, it is assumed that the customer will
            be dropping the car off at the same location at which they picked it
            up."
          schema:
            type: string
          example: SEA
        - name: dropOff.city
          in: query
          description: City name for the location at which the customer would like to drop
            off the car.Cannot coexist with other drop off parameters, only one
            drop off parameter is allowed in a request.If no drop off location
            is specified, it is assumed that the customer will be dropping the
            car off at the same location at which they picked it up.
          schema:
            type: string
        - name: dropOff.address
          in: query
          description: Address for the location at which the customer would like to drop
            off the car.Cannot coexist with other drop off parameters, only one
            drop off parameter is allowed in a request.If no drop off location
            is specified, it is assumed that the customer will be dropping the
            car off at the same location at which they picked it up.
          schema:
            type: string
          example: Seattle
        - name: dropOff.geoLocation
          in: query
          description: Latitude and longitude for the location at which the customer would
            like to drop off the car.Latitude and longitude are separated by
            comma.South latitudes and West longitudes are represented by
            negative values.Cannot coexist with other drop off parameters, only
            one drop off parameter is allowed per request.If no drop off
            location is specified, it is assumed that the customer will be
            dropping the car off at the same location at which they picked it
            up.
          schema:
            type: string
          example: 111.00,-22.00
        - name: dropOff.radius
          in: query
          description: "Radius used in conjunction with a point to define the search area
            when searching by lat/ long, city or address.See ' unit' parameter
            below to select miles or kilometers.If no value is specified a
            default value of 25 will be assumed.Note: The pickup radius value
            will be used (instead of the the drop-off radius) when the requested
            pickup and drop-off city/address are exactly the same."
          schema:
            type: string
          example: "10"
        - name: pickupTime
          in: query
          description: Requested car pickup date and time.Date should be ISO8601 Date
            format.The default TIME is 10:30:00.The supported search window is
            today to 330 days in the future.(Note that each rental counter has
            different hours of operation. If you select a time in the middle of
            the night there may be no inventory available as all locations may
            be closed.)
          schema:
            type: string
          example: 2021-06-05T10:00
        - name: dropOffTime
          in: query
          description: "Requested car drop off date and time. Date should be ISO8601 Date
            format.The supported search window is today to 330 days in the
            future.Note: The dropOffTime must be at least 2 hours later than the
            pickupTime for the request to be valid."
          schema:
            type: string
          example: 2021-06-06T10:00
        - name: sortType
          in: query
          description: "Method of sorting the car search results.Supported value: Price.If
            no value is present a sort by 'price' will be assumed."
          schema:
            type: string
            enum:
              - Price
        - name: sortOrder
          in: query
          description: "Order of sorting the car search results.Supported values: ASC,
            DESCIf no value is present a sort order of 'ascending' will be
            assumed."
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: limit
          in: query
          description: The maximum number of search results that will be returned by the
            query.
          schema:
            type: string
          example: "100"
        - name: suppliers
          in: query
          description: "A list of supplier ids or supplier names to be used to filter
            search results.Multiple supplier names or ids may be separated by
            comma.Please see a full list of Expedia Vendor Codes & Names in the
            Related Links Section below.The max count of suppliers requested is
            limited to 20.Note: while you may filter using either supplier name
            or supplier ID, it is recommended that you use supplier ID, as this
            value will remain consistent in the event of a merger or other name
            change by the supplier."
          schema:
            type: string
          example: 11,12
        - name: carClasses
          in: query
          description: A list of car classes to be used to filter search results.Multiple
            car classes may be separated by comma.Please see Class List in the
            Related Links Section below for all options.
          schema:
            type: string
          example: Economy
        - name: discount1.supplier
          in: query
          description: "Name or ID of the supplier who issued a coupon or discount
            code.NOTE: Only ONE discount code per transaction is currently
            supported by the API. If you enter more than one discount code, only
            the first one will be honored.Please see a full list of Expedia
            Vendor Codes & Names in the Related Links Section below."
          schema:
            type: string
          example: Avis
        - name: discount1.type
          in: query
          description: "The type of discount to be applied.Supported values: CorpDiscount
            | Coupon."
          schema:
            type: string
            enum:
              - CorpDiscount
              - Coupon
        - name: discount1.code
          in: query
          description: The code of the discount to be applied.
          schema:
            type: string
          example: GB1234
        - name: transmissions
          in: query
          description: A list of car transmission drive codes to be used to filter search
            results.Multiple car classes may be separated by a comma.Please see
            a full list of Transmission Drive Codes in the Related Links Section
            below.
          schema:
            type: string
        - name: airConditioning
          in: query
          description: Specify whether to filter for cars that include or exclude air
            conditioning.
          schema:
            type: string
            enum:
              - "true"
              - "false"
        - name: carTypes
          in: query
          description: A list of car types to be used to filter search results.Multiple
            car types may be separated by comma.Please see a full list of Car
            Type Codes in the Related Links Section below.
          schema:
            type: string
          example: C,E
        - name: unit
          in: query
          description: "The distance unit for the radius of a location-based search, or
            the distance between the center point of a search and the vendor
            location.Supported values: KM | MI.Default value: KM."
          schema:
            type: string
            enum:
              - KM
              - MI
        - name: driverAge
          in: query
          description: The age of the driver that will be renting the car.This value is
            required in the UK and optional elsewhere.
          schema:
            type: string
          example: "18"
        - name: links
          in: query
          description: WS = WebSearch, AD = ApiDetails, WD = WebDetails
          schema:
            type: array
            items:
              type: string
              enum:
                - WS
                - AD
                - WD
        - name: source
          in: query
          description: Indicates the source where the request is coming from.The available
            values for the source as below:browser - The value "browser"
            represents that the client is traditional website.mobile - The value
            "mobile" represents that the client is mobile.all - The value "all"
            indicates that the client includes both browser and mobile.Only one
            source value may be used at a time.
          schema:
            type: string
            enum:
              - browser
              - mobile
              - all
      responses:
        "200":
          description: car listing response
          content:
            application/vnd.exp-car.v3+json:
              schema:
                $ref: "#/components/schemas/CarListingsResponse"
            application/vnd.exp-car.v3+xml:
              schema:
                $ref: "#/components/schemas/CarListingsResponse"
        "400":
          description: errors response
          content:
            application/vnd.exp-car.v3+json:
              schema:
                $ref: "#/components/schemas/CarErrors"
              examples:
                Errors:
                  description: Errors
                  value:
                    Errors:
                      - Code: INVALID_LINKS
                        Description: Invalid links. Allowed value are:[WS, AD, WD].
                    TransactionId: 583b7277-772a-4802-8ac7-bcdf978abbdb
            application/vnd.exp-car.v3+xml:
              schema:
                $ref: "#/components/schemas/DisambiguationResponse"
              examples:
                DisambiguationResponse:
                  description: DisambiguationResponse
                  value:
                    Errors:
                      - Code: AMBIGUOUS_LOCATION
                        DetailCode: MULTIPLE_AMBIGUOUS_PICKUP_LOCATION
                        Description: Multiple pickup locations found.
                        LocationKeyword: portland
                        LocationOptions:
                          - Type: MULTICITY
                            RequestedLocation: Portland (and vicinity)
                            Locations:
                              - Name: Portland (and vicinity)
                                LocationId: seat001
                            RegionId: "178299"
                            ShortName: Portland (and vicinity)
                            AirportCode: PDX
                            Address: Portland (and vicinity), Oregon, United States Of America
                            Country:
                              Name: United States of America
                              IsoCode2: US
                              IsoCode3: USA
                            GeoLocation:
                              Latitude: "45.516740"
                              Longitude: "-122.680950"
                          - Type: CITY
                            RequestedLocation: Portland (and vicinity)
                            Locations:
                              - Name: Portland (and vicinity)
                                LocationId: seat001
                            RegionId: "6174134"
                            ShortName: Downtown Portland
                            AirportCode: PWM
                            Address: Downtown Portland, Portland, Maine, United States of America
                            Country:
                              Name: United States of America
                              IsoCode2: US
                              IsoCode3: USA
                            GeoLocation:
                              Latitude: "43.655764"
                              Longitude: "-70.255458"
                    TransactionId: 81e0a6d6-8ca9-4adf-a1c8-08ba0d11dcef
        "401":
          description: Unauthorized or Invalid authentication credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                unauthorized:
                  value: '{message":"Unauthorized"}'
                Invalid authentication credentials:
                  value: '{"message":"Invalid authentication credentials"}'
        "403":
          description: cannot consume this service
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                cannot consume this service:
                  value: '{"message":"You cannot consume this service"}'
        "404":
          description: No Route matched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                no Route matched:
                  value: '{"message":"no Route matched with those values"}'
        "429":
          description: API rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                API rate limit exceeded:
                  value: '{"message":"API rate limit exceeded"}'
        "503":
          description: service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                name resolution failed:
                  value: '{"message":"name resolution failed"}'
        "504":
          description: upstream server is timing out
          content:
            text/plain:
              examples:
                upstream server is timing out:
                  value: The upstream server is timing out
      security:
        - basicAuth: []
  "//cars/details/{offerToken}":
    get:
      tags:
        - get-car-details
      summary: Get Extended information with a single car offer
      description: Extended information about the rates, charges, fees, and other
        terms associated with a single car offer.
      operationId: get-car-details
      parameters:
        - name: Partner-Transaction-Id
          in: header
          description: "[Not consumed by Expedia] Partner-generated identifier."
          required: true
          schema:
            type: string
          example: BestTravel-123456-798101112
        - name: price
          in: query
          description: The total price for the product.
          required: true
          schema:
            type: string
        - name: currency
          in: query
          description: Price currency code
          required: true
          schema:
            type: string
          example: USD
        - name: source
          in: query
          description: source mobile  - The value mobile represents that the client is
            mobile.
          schema:
            type: string
          example: mobile
        - name: offerToken
          in: path
          description: car offer token
          required: true
          schema:
            type: string
          example: OFHSDJSJDFLJSDLKFJSDLJFLSDJFLSJDFL
      responses:
        "200":
          description: car details successful response
          content:
            application/vnd.exp-car.v3+json:
              schema:
                $ref: "#/components/schemas/CarDetailsResponse"
            application/vnd.exp-car.v3+xml:
              schema:
                $ref: "#/components/schemas/CarDetailsResponse"
        "400":
          description: car details user fault response
          content:
            application/vnd.exp-car.v3+json:
              schema:
                $ref: "#/components/schemas/CarErrors"
            application/vnd.exp-car.v3+xml:
              schema:
                $ref: "#/components/schemas/CarErrors"
        "401":
          description: Unauthorized or Invalid authentication credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                unauthorized:
                  value: '{message":"Unauthorized"}'
                Invalid authentication credentials:
                  value: '{"message":"Invalid authentication credentials"}'
        "403":
          description: cannot consume this service
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                cannot consume this service:
                  value: '{"message":"You cannot consume this service"}'
        "404":
          description: No Route matched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                no Route matched:
                  value: '{"message":"no Route matched with those values"}'
        "429":
          description: API rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                API rate limit exceeded:
                  value: '{"message":"API rate limit exceeded"}'
        "500":
          description: car details application error response
          content:
            application/vnd.exp-car.v3+json:
              schema:
                $ref: "#/components/schemas/CarErrors"
            application/vnd.exp-car.v3+xml:
              schema:
                $ref: "#/components/schemas/CarErrors"
        "503":
          description: service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIMError"
              examples:
                name resolution failed:
                  value: '{"message":"name resolution failed"}'
        "504":
          description: upstream server is timing out
          content:
            text/plain:
              examples:
                upstream server is timing out:
                  value: The upstream server is timing out
      security:
        - basicAuth: []
components:
  schemas:
    Address:
      type: object
      properties:
        Address1:
          type: string
          description: Street Number, Street Name, or PO Box
          example: 724 Pine St
        Address2:
          type: string
          description: Apartment, Floor, Suite, Bldg or more specific information about
            Address1.
          example: Second Floor
        City:
          type: string
          description: The city
          example: New York
        Province:
          type: string
          description: The state or province
          example: NY
        Country:
          type: string
          description: 3-letter code for the country
          example: USA
        PostalCode:
          type: string
          description: Zip/postal code
          example: "98004"
      description: The address information of the location.
    AgeClassRestriction:
      type: object
      properties:
        AgeClass:
          type: string
          description: Categories for hotel guests, based on age.
          example: Senior
          enum:
            - All Ages
            - Senior
            - Adult
            - Child
            - Infant
            - Other
        AgeMinimum:
          type: integer
          description: The minimum age defined in a particular `AgeClass`.
          format: int32
          example: 2
        AgeMaximum:
          type: integer
          description: |
            The maximum age defined in a particular `AgeClass`.

            If not specified, the `AgeClass` has no upper bound.
          format: int32
          example: 17
        MaxGuestCount:
          type: integer
          description: The max guest count allowed in a particular `AgeClass`.
          format: int32
          example: 3
      description: Container for room occupancy rules based on the age of the guests.
    BedType:
      type: object
      properties:
        Id:
          type: string
          description: The bed type ID
          example: "40"
        Description:
          type: string
          description: The bed type description.
          example: 1 bed
      description: >
        Statement of bed types available for this offer. A room may have several
        bed type options available.


        **NOTE**: due to the large number of bed type options available, we no longer publish a list of available

        bed types. More information is available in

        [Lodging Bed Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/bed-types).
    CancellationPenaltyRule:
      type: object
      properties:
        PenaltyNightCount:
          type: integer
          description: >
            Specifies the per-stay cancellation fee charged in terms of the cost
            of the number of nights listed, in

            addition to any other penalties. The rate charged is based on the earliest night(s) of the stay.
          format: int32
          example: 1
        PenaltyPercentOfStay:
          type: string
          description: >
            Specifies the per-stay cancellation fee charged as a percentage of
            the total rate, in addition to any other

            penalties listed.
          example: "100"
        PenaltyPrice:
          allOf:
            - $ref: "#/components/schemas/Money"
            - description: Specifies the cancellation fee in terms of a set fee, in addition
                to any other penalties listed.
        PenaltyStartDateTime:
          type: string
          description: >
            The beginning of the window of time when the
            `CancellationPenaltyRule` is in effect.


            The date and time are expressed in ISO 8601 International Date format, and local to the hotel.
          format: date-time
          example: 2022-07-23T23:00:00.000Z
        PenaltyEndDateTime:
          type: string
          description: >
            The end of the window of time when the `CancellationPenaltyRule` is
            in effect.


            The date and time are expressed in ISO 8601 International Date format, and local to the hotel.
          format: date-time
          example: 2022-07-25T23:00:00.000Z
    CancellationPolicy:
      type: object
      properties:
        CancellableOnline:
          type: boolean
          description: >-
            Boolean value to identify if the reservation can be cancelled
            online.

            If false, the customer will only be able to cancel a refundable room by calling Expedia Customer Service.
          example: true
        Refundable:
          type: boolean
          description: Indicate whether the rate is refundable or not.
          example: true
        FreeCancellation:
          type: boolean
          description: Indicate whether the room can be cancelled free of charge.
          example: true
        FreeCancellationEndDateTime:
          type: string
          description: >
            The date and time until which the room can be cancelled free of
            charge.


            This is expressed in the local time of the Hotel.
          format: date-time
        CancellationPenaltyRules:
          type: array
          description: Container for cancellation penalty details.
          items:
            $ref: "#/components/schemas/CancellationPenaltyRule"
        CancelPolicyDescription:
          type: string
          description: Additional cancellation policy information available as static text.
          example: Free cancellation available before 2022-07-18T16:00:00-08:00
        NonRefundableDateRanges:
          type: array
          description: >
            A list of dates ranges that are non-refundable.


            **Note**: The stay dates in those date ranges will always be charged whenever there is any cancellation

            penalty rule.
          items:
            $ref: "#/components/schemas/NonRefundableDateRange"
      description: Container for room cancellation policy.
    ChainAndBrandInfo:
      type: object
      properties:
        ChainId:
          type: integer
          description: The chain id.
          format: int32
          example: -5
        ChainName:
          type: string
          description: The name of the chain.
          example: Hilton Worldwide
        BrandId:
          type: integer
          description: The brand id.
          format: int32
          example: 33
        BrandName:
          type: string
          description: The name of the brand.
          example: Doubletree
      description: >
        The chain and brand information of hotel.


        Only visible by configuration. Please contact your Expedia Account Manager if you need this node.
    Country:
      type: object
      properties:
        Name:
          type: string
          description: country name
          example: Ireland
        IsoCode2:
          type: string
          description: 2-letter code for the country
          example: IE
        IsoCode3:
          type: string
          description: 3-letter code for the country
          example: IRL
      description: Container for disambiguation country information
    DepositDetail:
      type: object
      properties:
        Type:
          type: string
          description: >-
            Should be one of the following values:

            PERCENT

            The deposit amount is calculated as a percentage of the total booking cost.

            NIGHT

            The deposit amount is calculated in terms of nights plus tax.

            AMOUNT

            The deposit amount in USD.

            REMAINDER

            The deposit amount is equal to the booking cost minus any deposits that have been made before this point.
          example: NIGHT
          enum:
            - PERCENT
            - NIGHT
            - AMOUNT
            - REMAINDER
        Value:
          type: string
          description: Value to indicate how many/much of the type listed above is going
            to be charged as a deposit.
          example: "1"
        When:
          $ref: "#/components/schemas/When"
      description: Container for deposit policy details
    DepositPolicy:
      type: object
      properties:
        Description:
          type: array
          items:
            type: string
        Details:
          type: array
          description: Container for deposit policy details
          items:
            $ref: "#/components/schemas/DepositDetail"
      description: Container for deposit policy details
    Description:
      type: object
      properties:
        LocationTeaser:
          type: string
          description: A description of the property's location.
          example: Built on the original site of the University of Washington
        HotelTeaser:
          type: string
          description: A description of the features and amenities of the property itself.
          example: A top-notch fitness club and spa features a pool
        RoomTeaser:
          type: string
          description: The common description for all of the rooms in the property.
          example: Renovated in May 2016, guest rooms feature upholstered chairs
      description: Container for the descriptions of the property.
    Distance:
      type: object
      properties:
        Value:
          type: string
          description: The distance between the center of the search and the hotel.
          example: "75"
        Unit:
          type: string
          description: The unit of distance.
          example: km
          enum:
            - km
            - mi
        Direction:
          type: string
          description: The direction to the hotel from the center point of the search.
          example: N
          enum:
            - N
            - S
            - W
            - E
            - NW
            - NE
            - SW
            - SE
      description: >
        Container for distance information.


        Only returned for city/address search or `geoLocation` search or single `regionId` search.
    GeoLocation:
      type: object
      properties:
        Latitude:
          type: string
          description: Latitude of the location.
          example: "38.184978"
        Longitude:
          type: string
          description: Longitude of the location.
          example: "85.7412"
        Obfuscated:
          type: boolean
      description: Container for Geo location.
    Hotel:
      type: object
      properties:
        Id:
          type: string
          description: The unique, Expedia-specific hotel property identifier used to
            designate a single hotel.
          example: "14747"
        HcomId:
          type: string
          description: >
            The unique, Hotels.com-specific hotel property identifier used to
            designate a single hotel.


            This will only be returned if searching via hcomHotelIds in request.
          example: "10532"
        Name:
          type: string
          description: The common name of the hotel
          example: Four Seasons Hotel Seattle
        PropertyType:
          $ref: "#/components/schemas/HotelPropertyType"
        PropertyDetails:
          $ref: "#/components/schemas/PropertyDetails"
        LocalCurrencyCode:
          type: string
          description: The Local Currency Code for Hotel (which will be used for any fees
            that must be paid at the hotel)
          example: USD
        Location:
          allOf:
[...]
