import com.expediagroup.sdk.core.client.{{#isRapid}}BaseRapidClient{{/isRapid}}{{#isExpediaGroup}}ExpediaGroupClient{{/isExpediaGroup}}{{#isXap}}BaseXapClient{{/isXap}}
import com.expediagroup.sdk.core.configuration.{{#isRapid}}RapidClientConfiguration{{/isRapid}}{{#isExpediaGroup}}ExpediaGroupClientConfiguration{{/isExpediaGroup}}{{#isXap}}XapClientConfiguration{{/isXap}}
import com.expediagroup.sdk.core.constant.HeaderKey
import com.expediagroup.sdk.core.model.exception.ExpediaGroupException
import com.expediagroup.sdk.core.model.exception.service.ExpediaGroupServiceException
import com.expediagroup.sdk.core.model.exception.handle
import com.expediagroup.sdk.core.model.paging.Paginator
import com.expediagroup.sdk.core.model.paging.ResponsePaginator
import com.expediagroup.sdk.core.model.EmptyResponse
import com.expediagroup.sdk.core.model.Nothing
import com.expediagroup.sdk.core.model.Properties
import com.expediagroup.sdk.core.model.Response
import com.expediagroup.sdk.core.model.Operation