import com.expediagroup.sdk.core.model.exception.client.PropertyConstraintViolationException
import com.expediagroup.sdk.core.model.OperationParams

import com.fasterxml.jackson.annotation.JsonProperty
import com.fasterxml.jackson.databind.annotation.JsonDeserialize
import io.ktor.http.Headers
import io.ktor.http.Parameters

import javax.validation.constraints.Max
import javax.validation.constraints.Min
import javax.validation.constraints.NotNull
import javax.validation.constraints.Pattern
import javax.validation.constraints.Size
import javax.validation.Valid
import javax.validation.Validation

{{#nonBodyParams}}
    {{#params}}
        {{#isEnumRef}}{{^isEnum}}
            import {{packageName}}.models.{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}
        {{/isEnum}}{{/isEnumRef}}
    {{/params}}
{{/nonBodyParams}}

import org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator
